@import "../variables.scss";

.cartfunction {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: $primary4;
  border-radius: 12px;
  gap: 10px;
  .addCart,
  .removeCart {
    cursor: pointer;
    @include flex(center, center);
    width: max-content;
    height: 40px;
    text-transform: none;
    padding: 10px 30px;
    box-shadow: none;
    border-radius: 10px;
    background-color: white;
    color: $primary3;
    transition-timing-function: ease-in;
    transition: 0.5s;
    &:hover {
      color: $primary1;
    }
  }
}
