@import "../variables.scss";


.cartfunction {
  width: 30px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: $primary4;
  border: 1px solid $primary1;
  border-radius: 10px;
 
  gap: 10px;
  .removeCart {
    pointer-events: auto;
    width: 30px;
    height: 30px;
    color: $primary3;
    &:hover {
      transform: scale(1.1);
    }
    &.show {
      display: block;
    }
  }
  .totalItem {
    display: none;
  }
  .addCart {
    pointer-events: auto;
    width: 30px;
    height: 30px;
    color: $primary3;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.showcartfunction {
  width: auto;
  bottom: 12px;
  right: 5px;
  animation-name: cartanimation;
  animation-duration: 1s;
  .removeCart {
    animation-name: cartbuttonanim;
    animation-duration: 1s;
    scale: 0.7;
    display: block;
  }
  .totalItem {
    display: block;
  }
  .addCart {
    animation-name: cartbuttonanim;
    animation-duration: 1s;
    scale: 0.7;
  }
}

.hidecartfunction {
  width: 30px;
  animation-name: cartanimationhide;
  animation-duration: 1s;
  .removeCart {
    animation-name: cartbuttonanimhide;
    animation-duration: 1s;
    scale: 1;
    display: none;
  }
  .totalItem {
    display: none;
  }
  .addCart {
    animation-name: cartbuttonanimhide;
    animation-duration: 1s;
    scale: 1;
  }
}


@keyframes cartanimation {
  from {
    width: 30px;
  }
  to {
    width: 88px;
  }
}

@keyframes cartanimationhide {
  from {
    width: 88px;
  }
  to {
    width: 30px;
  }
}

@keyframes cartbuttonanim {
  from {
    scale: 1;
  }
  to {
    scale: 0.7;
  }
}

@keyframes cartbuttonanimhide {
  from {
    scale: 0.7;
  }
  to {
    scale: 1;
  }
}