@import "../variables.scss";

.colorWarpWrapper {
  width: 800px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  .body {
    // background-color: black;
    display: flex;
    flex-wrap: wrap;
    .tinysquares:nth-child(2) {
      background-color: $primary1;
    }
    .tinysquares:nth-child(15) {
      background-color: $primary1;
    }
    .tinysquares:nth-child(13) {
      background-color: $primary1;
    }
    .tinysquares:nth-child(12) {
      background-color: $primary1;
    }
    .tinysquares:nth-child(11) {
      background-color: $primary1;
    }
    .tinysquares:nth-child(6) {
      background-color: $primary1;
    }
    .tinysquares:nth-child(4) {
      background-color: $primary1;
    }
    .tinysquares:nth-child(5) {
      background-color: $primary1;
    }
    .tinysquares:nth-child(8) {
      background-color: $primary1;
    }
    .tinysquares {
      cursor: pointer;
      transition: all 0.1s;
      transition-timing-function: ease-in-out;
      background-color: $primary3;
      &:hover {
        background-color: white;
      }
    }
  }
}

@media (min-width: 767px) {
  .colorWarpWrapper {
    .body {
      .squareanim {
        animation-name: colorChange;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
      }
    }
  }
}


@keyframes colorChange {
  0% {
    background-color: $primary3;
  }
  50% {
    background-color: $primary4;
  }
  100% {
    background-color: $primary3;
  }
}