@import "../variables.scss";

.featuredCarousel {
  margin-left: 20px;
  border-radius: 20px;
  padding: 6px;
  width: 300px;
  background-color: $primary4;
  .carouselContent {
    background: white;
    @include flex(center, center);
    .contentImage {
      width: 50%;
      object-fit: cover;
      border-radius: 14px;
      background: $primary1;
      height: 130px;
    }
    .featuredcontent {
      height: 110px;
      width: 60%;
      margin-left: 15px;
      color: $primary1;
      @include flex(space-between, start, column);
      .description {
        text-align: start;
        @include flex(center, start, column);
        gap: 5px;
        .brandName {
          @include text-style(10px, 400, 16px);
        }
        .productName {
          @include text-style(17px, 400, 20px);
        }
        .producttype {
          @include text-style(15px, 400, 18px);
        }
      }
      .cartandprice {
        color: $primary3;
        @include text-style(18px, 400, 18px);
        @include flex(center, center);
      }
    }
  }
  horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    top: -6px;
    left: 115px !important;
    width: 100%;
    .swiper-pagination-bullet-active {
      background: $primary3;
  }
  }
}

