@import "../variables.scss";
@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,600,700");

.bannerHeader {
  background-image: url(../assets/images/banner.png);
  height: 680px;
  width: 1080px;
  background-size: cover;
  background-position: center center;
  position: relative;
  .content {
    z-index: 1;
    position: absolute;
    top: 250px;
    left: -35%;
    text-align: start;
    color: white;
    .title1, .title2 {
      // font-family: 'Times New Roman', Times, serif;
      @include text-style(100px, 600, 101px);
    }
    .desc {
      @include text-style(15px, 400, 22px);
      margin-top: 10px;
      width: 350px;
    }
  }
  .bannerimg {
    z-index: 1;
    position: absolute;
    width: 65%;
    right: 5%;
    bottom: 5%;
    transform: scaleY(-1) rotate(20deg);
    transition: .1s;
    transition-timing-function: ease-in;
  }
  .bannerButtons {
    z-index: 1;
    position: absolute;
    display: flex;
    top: 400px;
    gap: 40px;
    .menbutton, .womenbutton {
      cursor: pointer;
      transform: scale(1.1);
      padding: 10px 40px;
      color: $primary4;
      border-radius: 10px;
      background-color: $primary1;
      transition-timing-function: ease-in;
      transition: .5s;
      &:hover {
        color: $primary3;
      }
    }
  }
}

@media (min-width: 767px) {
  .bannerHeader {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    // width: 90%;
    margin-left: auto;
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    .featuredCarousel {
      position: absolute;
      z-index: 2;
      bottom: 20px;
    }
    .content {
      z-index: 1;
      position: absolute;
      top: 220px;
      left: -40%;
      text-align: start;
      color: white;
      .title1, .title2 {
        width: max-content;
        padding: 15px 250px 15px 0px;
        border-radius: 20px;
        color: $primary1;
        background: white;
      }
      .title2 {
        position: absolute;
        top: 105px;
      }
      .desc {
        font-family: 'Poppins';
        position: absolute;
        top: 220px;
        color: $primary1;
      }
    }
  }
}

@media (max-width: 768px) {
  .bannerHeader {
    .content {
      left: 7%;
      .title1, .title2 {
        @include text-style(50px, 200, 51px);
        width: 300px;
      }
      .desc {
        @include text-style(20px, 200, 24px);
        width: 300px;
      }
    }
    .bannerimg {
      display: none;
    }
    .bannerButtons {
      left: 20px;
      gap: 20px;
      .menbutton, .womenbutton {
        transform: scale(.9);
        padding: 10px 40px;
      }
    }
  }
}

@keyframes slide {
  from {
    width: 100%;
  }
  to {
    width: 65%;
  }
}