@import "../variables.scss";

.bannerHeader {
  background-image: url('../assets/images/banner.png');
  height: 550px;
  background-size: cover;
  background-position: center center;
  position: relative;
  .bannerButtons {
    position: absolute;
    display: flex;
    right: 70px;
    bottom: 70px;
    gap: 40px;
    .menbutton, .womenbutton {
      cursor: pointer;
      transform: scale(1.1);
      padding: 10px 40px;
      color: $primary3;
      background-color: white;
      &:hover {
        color: $primary2;
      }
    }
  }
}

@media (max-width: 768px) {
  .bannerHeader {
    .bannerButtons {
      left: 20px;
      gap: 20px;
      .menbutton, .womenbutton {
        transform: scale(.9);
        padding: 10px 40px;
      }
    }
  }
}