.bannerHeader {
  background-image: url('../assets/images/banner.png');
  height: 550px;
  background-size: cover;
  background-position: center center;
  position: relative;
  .bannerButtons {
    position: absolute;
    display: flex;
    right: 70px;
    bottom: 70px;
    gap: 40px;
    .menbutton, .womenbutton {
      cursor: pointer;
      transform: scale(1.1);
      padding: 10px 30px;
      border: 1px solid #333;
      border-radius: 10px;
      &:hover {
        background-color: white;
      }
    }
  }
}