@import "../variables.scss";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700");

.errorText {
  margin-top: 2px;
  text-align: start;
  @include text-style(13px, 400, 14px);
  color: #FF3333;
}