@import "../variables.scss";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700");

.navbarWrapper {
  display: block;
  font-family: "Poppins";
  position: static;
  z-index: 99;
  transition: all 0.01s;
  transition-timing-function: ease-in;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .menuandlogo {
      @include flex(center, center);
      .logo {
        cursor: pointer;
        width: 150px;
        object-fit: contain;
      }
    }
    .rightsideContent {
      cursor: pointer;
      @include flex(center, normal);
      padding: 0px 10px;
      color: $primary1;
      .profilepic {
        margin-left: 20px;
        width: 50px;
      }
      .cartIcon {
        position: relative;
        .carticon {
          transition-timing-function: ease-in;
          transition: 0.5s;
          &:hover {
            color: $primary3;
          }
        }
        .cartCount {
          position: absolute;
          @include text-style(12px, 400, 13px);
          background: $primary3;
          padding: 5px;
          top: -5px;
          right: -8px;
          color: $primary4;
          border-radius: 17kpx;
        }
      }
      .profile {
        transition-timing-function: ease-in;
        transition: 0.5s;
        color: $primary1;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        // background: purple;
        justify-content: center;
        border-radius: 20px;
        border: 2px solid $primary1;
        &:hover {
          border: 2px solid $primary3;
        }
      }
      .auth {
        margin-left: 10px;
        cursor: pointer;
        @include text-style(17px, 600, 20px);
        transition-timing-function: ease-in;
        transition: 0.5s;
        color: $primary1;
        &:hover {
          color: $primary3;
        }
      }
    }
  }
}

.navfadeout {
  opacity: 0;
  position: static;
}

.navfadein {
  opacity: 1;
  position: fixed;
  background: white !important;
  width: 100%;
}

.dWrapper {
  padding: 30px !important;
}

.dialogTitle {
  @include text-style(40px, 700, 41px);
}

.dialogWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding: 30px;
  height: 300px;
  .dialogbanner {
    .logo {
      width: 200px;
      margin-bottom: 40px;
    }
  }
  .form {
    text-align: center;
    .signUpdirect {
      margin-top: 15px;
      text-align: start;
      @include text-style(12px, 400, 13px);
    }
    .signUp {
      cursor: pointer;
      margin-top: 4px;
      text-align: start;
      @include text-style(12px, 400, 13px);
      text-decoration: underline;
      color: $primary3;
    }
    .submitbutton {
      margin-top: 30px;
      padding: 8px 50px;
      background-color: $primary3;
      color: $primary4;
    }
  }
}

@media (min-width: 767px) {
  .navbarWrapper {
    background: black;
    .wrapper {
      border-bottom-right-radius: 40px;
      background-color: white;
      padding: 25px 30px;
      .menuandlogo {
        .navHamburger {
          margin-right: 40px;
        }
        .logo {
          width: 150px;
        }
      }
      .rightsideContent {
        gap: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .navbarWrapper {
    background: black;
    .wrapper {
      border-bottom-right-radius: 20px;
      background-color: white;
      padding: 20px 20px;
      .menuandlogo {
        .navHamburger {
          margin-right: 10px;
        }
        .logo {
          width: 100px;
        }
      }
      .rightsideContent {
        gap: 10px;
      }
    }
  }
}
