@import "../variables.scss";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700");

.navbarWrapper {
  display: block;
  // background-color: $primary2;
  padding-top: 10px;
  font-family: 'Poppins';
  position: fixed;
  z-index: 99;
  width: 100%;
  transition: all 0.3s;
  transition-timing-function: ease-in;
  .wrapper {
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    // background: rgba(255, 255, 255, 0.2);
    // backdrop-filter: blur(5px);
    // border: 2px solid black;
    margin: 10px 10px;
    // border-radius: 10px;
    padding: 10px 40px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      cursor: pointer;
      width: 130px;
      object-fit: contain;
    }
    .navbarLinks {
      cursor: pointer;
      @include text-style(20px, 200, 21px);
      color: $primary4;
      display: flex;
      gap: 100px;
      .link {
        text-decoration: none;
        color: $primary4;
        transition-timing-function: ease-in;
        transition: .5s;
        &:hover {
          color: $primary3;
        }
      }
    }
    .profileicon {
      margin-left: 15%;
      .rightsideContent {
        cursor: pointer;
        display: flex;
        align-items: start;
        color: $primary4;
        .profilepic {
          margin-left: 20px;
          width: 50px;
        }
        .carticon {
          transition-timing-function: ease-in;
          transition: .5s;
          &:hover {
            color: $primary3;
          }
        }
      }
      .auth {
        cursor: pointer;
        padding: 10px 30px;
        @include text-style(17px, 600, 20px);
        transition-timing-function: ease-in;
        transition: .5s;
        color: $primary4;
        &:hover {
          color: $primary3;
        }
      }
    }
  }
}

.navfadeout {
  display: none;
}

.dWrapper {
  padding: 30px !important;
}

.dialogTitle {
  @include text-style(40px, 700, 41px);
}

.dialogWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding: 30px;
  height: 300px;
  .dialogbanner {
    .logo {
      width: 200px;
      margin-bottom: 40px;
    }
  }
  .form {
    text-align: center;
    .signUpdirect {
      margin-top: 15px;
      text-align: start;
      @include text-style(12px, 400, 13px);
    }
    .signUp {
      cursor: pointer;
      margin-top: 4px;
      text-align: start;
      @include text-style(12px, 400, 13px);
      text-decoration: underline;
      color: $primary3;
    }
    .submitbutton {
      margin-top: 30px;
      padding: 8px   50px;
      background-color: $primary3;
      color: $primary4;
    }
  }
}

@media (max-width: 768px) {
  .navbarWrapper {
    background-color: transparent;
    box-shadow: none;
    border: 0px;
    position: fixed;
    height: 50px;
    bottom: 35px;
    width: 100%;
    .wrapper {
      box-shadow: none;
      border: none;
      backdrop-filter: none;
      background: none;
    }
    .navheader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      top: 20px;
      left: 20px;
      width: 90%;
      color: $primary4;
      .logo {
        width: 120px;
      }
      .carticon {
        transition-timing-function: ease-in;
        transition: .5s;
        &:hover {
          color: $primary3
        }
      }
    }
    .wrapper {
      padding: 2px 10px;
      margin: 0px auto;
      border-radius: 20px;
      height: 50px;
      width: 80%;
      .logo {
        display: none;
        width: 70px;
        margin-left: 20px;
      }
      .profileicon {
        position: absolute;
        right: 0px;
        margin-right: 10px;
      }
    }
  }
}
