@import "../variables.scss";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700");

.categoryWrapper {
  position: relative;
  padding: 160px 40px 0px;
  .titleContent {
    @include flex(space-between, center);
    .title {
      @include text-style(50px, 600, 51px);
      font-family: "Poppins";
    }
    .filterOptions {
      gap: 40px;
      @include flex(center, space-between);
    }
  }
  .content {
    margin-top: 60px;
    width: 100%;
    .productsList {
      max-width: 100%;
      display: grid;
      justify-content: space-around;
      grid-template-columns: auto auto auto auto;
      .productWrapper {
        max-width: 330px;
        transition-timing-function: ease;
        transition: 0.3s;
        cursor: pointer;
        .imgCart {
          position: relative;
          .shoeimg {
            pointer-events: auto;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(5px);            
            border-radius: 20px;
            object-fit: cover;
            max-width: 100%;
            height: auto;
          }
        }
        .shoedetails {
          padding: 10px 20px 30px;
          display: flex;
          justify-content: space-between;
          color: $primary1;
          .desc {
            .productname,
            .division {
              text-align: left;
            }
            .productname {
              @include text-style(20px, 600, 21px);
            }
            .division {
              margin-top: 5px;
              @include text-style(18px, 400, 20px);
            }
          }
          .price {
            color: $primary3;
            @include text-style(20px, 600, 21px);
          }
        }
      }
      .productWrapper:hover {
        transform: scale(1.09);
      }
    }
  }
}


@media (max-width: 768px) {
  .categoryWrapper {
    padding: 100px 20px 0px;
    .content {
      .productsList {
        grid-template-columns: auto;
      }
    }
  }
}

@keyframes cartanimation {
  from {
    width: 40px;
  }
  to {
    width: 105px;
  }
}

@keyframes cartanimationhide {
  from {
    width: 100px;
  }
  to {
    width: 40px;
  }
}

@keyframes cartbuttonanim {
  from {
    scale: 1;
  }
  to {
    scale: 0.7;
  }
}

@keyframes cartbuttonanimhide {
  from {
    scale: 0.7;
  }
  to {
    scale: 1;
  }
}