@import "../variables.scss";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700");

.categoryWrapper {
  width: 100%;
  position: relative;
  padding: 40px 0px;
  .titleContent {
    @include flex(space-between, center);
    .title {
      text-align: start;
      width: 85%;
      margin-left: auto;
      @include text-style(50px, 600, 51px);
      font-family: "Poppins";
    }
    .filterOptions {
      gap: 40px;
      @include flex(center, space-between);
    }
  }
  .content {
    margin-top: 60px;
    width: 85%;
    margin-left: auto;
    .productsList {
      max-width: 100%;
      display: grid;
      justify-content: space-between;
      grid-template-columns: 
       auto auto auto;
      .productWrapper {
        padding: 0px 30px 0px 0px;
        max-width: 350px;
        transition-timing-function: ease;
        transition: 0.3s;
        cursor: pointer;
        .imgCart {
          position: relative;
          .shoeimg {
            pointer-events: auto;        
            border-radius: 20px;
            object-fit: cover;
            max-width: 100%;
            height: auto;
          }
        }
        .shoedetails {
          padding: 10px 10px 30px;
          display: flex;
          justify-content: space-between;
          color: $primary1;
          .desc {
            .productname,
            .division {
              text-align: left;
            }
            .productname {
              @include text-style(20px, 400, 21px);
            }
            .division {
              margin-top: 5px;
              @include text-style(18px, 400, 20px);
            }
          }
          .price {
            color: $primary3;
            @include text-style(20px, 600, 21px);
          }
        }
      }
      .productWrapper:hover {
        transform: scale(1.09);
        .imgCart {
          .shoeimg {
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .categoryWrapper {
    padding: 100px 20px 0px;
    .content {
      .productsList {
        grid-template-columns: auto;
      }
    }
  }
}

