@import "../variables.scss";

.productWrapper {
  margin: 40px;
  height: 100%;
  .productFirstfold {
    position: relative;
    z-index: 1;
    margin-left: auto;
    height: max-content;
    padding: 0px 40px;
    @include flex(center, flex-start);
    .productDetails {
      padding: 10px;
      margin-right: 10px;
      width: 20%;
      ul {
        padding-left: 0px;
        list-style-type: none;
        li {
          @include flex(flex-start, center, row);
          gap: 10px;
          margin-bottom: 10px;
          color: $primary1;
          .tick {
            color: rgba($color: $primary3, $alpha: .7);          
          }
        }
      }
    }
    .productImg {
      border-radius: 20px;
      width: 36%;
      height: 550px;
      object-fit: cover;
      margin-right: 40px;
    }
    .productDescription {
      max-height: 550px;
      padding: 20px 55px;
      max-width: 45%;
      text-align: start;
      color: $primary1;
      @include flex(space-between, flex-start, column);
      .productTitle {
        margin-bottom: 80px;
        .productType {
          margin-bottom: 5px;
          color: rgba($color: $primary1, $alpha: .5);          
          @include text-style(15px, 600, 16px);
        }
        .productName {
          max-width: 350px;
          @include text-style(35px, 600, 38px);
        }
      }
      .productBody {
        .productPrice {
          @include text-style(50px, 600, 52px);
          margin-bottom: 10px;
        }
        .productRating {
          margin-bottom: 20px;
          color: $primary3;
        }
        .productSizes {
          .sizeTitle {
            color: rgba($color: $primary1, $alpha: .5);          
            @include text-style(15px, 600, 18px);
            margin-bottom: 10px;
          }
          .sizeList {
            @include flex();
            gap: 10px;
            flex-wrap: wrap;
            margin-bottom: 30px;
            .sizeBox {
              cursor: pointer;
              @include flex(center, center);
              border: 1px solid $primary1;
              width: 40px;
              height: 40px;
              transition-timing-function: ease-in;
              transition: 0.5s;
              &:hover {
                background-color: $primary1;
                color: $primary4;
              }
            }
            .sizeBox.active {
              background-color: $primary1;
                color: $primary4;
            }
          }
        }
        .productButtons {
          @include flex(flex-start, center);
          gap: 10px;
          .buyNow {
            cursor: pointer;
            @include flex(center, center);
            width: max-content;
            height: 40px;
            text-transform: none;
            padding: 10px 30px;
            box-shadow: none;
            border: 1px solid $primary1;
            border-radius: 10px;
            background-color: white;
            color: $primary1;
            transition-timing-function: ease-in;
            transition: 0.5s;
            &:hover {
              background-color: $primary1;
              color: $primary4;
            }
          }
        }
      }
    }
  }
  .productSecondfold {
    margin-top: 40px;
    padding: 0px 40px;
    .shoeDescription {
      width: 600px;
      text-align: start;
      .descTitle {
        @include text-style(35px, 600, 52px);
      }
      .descBody {
        color: rgba($color: $primary1, $alpha: .7);
        @include text-style(15px, 400, 19px);
        padding: 10px 0px;
      }
    }
  }
  .productThirdfold {
    margin-top: 100px;
  }
}
